GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your-google-client-secret
APP_OAUTH2_REDIRECT_URI=http://localhost:5173/oauth/callback
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DATABASE=quickbite_auth
MYSQL_USERNAME=root
MYSQL_PASSWORD=your-mysql-password
JWT_SECRET=UVVpY2tCaXRlU3VwZXJTZWNyZXRLZXlGb3JKV1RTaWduaW5nMTIzNDU2Nzg5MA==
EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://localhost:8761/eureka
